body{
	display: block;
	margin: 0;
	background-color: #0079bf;
	color: #4d4d4d;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 18px;
}

header{
	background-color: #026AA7;
    padding: 5px;
    height: 30px;
    width: 100%;
}

.header-logo{
	background-image: url(../img/header-logo.png);
	background-repeat: no-repeat;
	height: 30px;
	width: 80px;
	position: absolute;
    left: 50%;
    margin-left: -40px;
    top: 5px;
    text-align: center;
    opacity: 0.5;
}

.tablero{
	padding: 8px 4px 8px 8px;
}

.tablero h3{
	font-size: 18px;
	font-weight: 700;
	padding-left: 4px;
	color: whitesmoke;
}

.primer-contenedor{
	background: rgba(0,0,0,.12);
	border-radius: 3px;
    color: rgba(255,255,255,.7);
    padding: 8px 150px 8px 4px;
}

input{
	background: #E2E4E6;
	border: 1px solid #CDD2D4;
    border-color: #aaa;
	display: block;
	border-radius: 3px;
	margin-top: 20px;
	padding: 8px 85px 8px 4px;
}

button{
	background-color: #61BD4F;
	border-radius: 3px;
	border:1px solid #3F6F21;
	color: #fff;
	font-weight: bold;
	padding: 7px 20px;
	height: 35px;
	width: 100px;
	margin-top: 4px;
	text-shadow:1px 1px 0px #959DA1;
}

button:hover{
	background-color: #5AAC44;
}

.contenedor-tarjeta .lista{
	background: #E2E4E6;
	border-radius: 3px;
	color: rgb(77, 77, 77);
	width: 270px;
	/*position: absolute;*/
	padding: 16px 50px 0px 4px;
	margin-top: 20px;
}

#sp{
	height: 30px;
	padding: 8px 10px; /*padding-top: 0px;*/
	font-weight: bold;
	text-align: middle;
}

#sp a{
	color: #8c8c8c;
	padding: 8px 10px;
	font-weight: normal;
	text-decoration: none;
	position: relative;
	display: block;
}

#sp a:hover{
	background-color: #bfbbbb;
	color: #4d4d4d;;
}

/*
#txt{
	width: 310px;
	height: 80px;
	border-radius: 3px;


}
*/